@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Oswald:wght@500&display=swap');



* {
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;

}

:root {
    --text-grey-color: hsl(244deg 15.31% 61.57%);
    --text-purple-color: hsl(248.41deg 93.18% 65.49%);
    --text-color: hsl(248deg 14.85% 19.8%);
    --line-color: hsl(246.67deg 39.13% 95.49%)
}



/*! *********************** Start library **********************/
/************************* colors *********************/
.text-grey-color {
    color: hsl(244deg 15.31% 61.57%);
}

.text-purple-color {
    color: hsl(248.41deg 93.18% 65.49%);
}

.text-color {
    color: hsl(248deg 14.85% 19.8%);
}





/************************* colors *********************/

/*! *********************** End library **********************/



/*! *********************** Nav **********************/
nav {
    box-shadow: 2px 9px 4px hsl(255deg 16.67% 95.29%);

}

.nav-span {
    display: inline-block;
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
    width: 115px;
    border-color: var(--text-grey-color);
    border-radius: 1em;
}

.nav-span:hover {
    color: white;
    background-color: var(--text-purple-color);

}

/*! *********************** Nav **********************/

/*! *********************** Start About**********************/


/************************ about ************************/
.info .container {
    background-color: hsl(248.57deg 53.85% 97.45%);
    border-radius: 30px;
    height: 300px;

}

.info a {
    text-decoration: none;
}

@media (max-width: 576px) {
    .info .container {
        background-color: hsl(248.57deg 53.85% 97.45%);
        border-radius: 30px;
        height: 85px;
        max-width: 50%;
    }


}

@media (max-width: 900px) {
    .info .container {
        background-color: hsl(248.57deg 53.85% 97.45%);
        border-radius: 30px;
        height: 125px;
        max-width: 50%;
    }
}
/************************ about ************************/


/************************ bg ************************/

@media (max-width: 576px) {
    .bg {
        max-width: 100%;
        text-align: center;
    }

    .bg .img-fluid {
        max-width: 35% !important;
        padding-top: 20px;
    }

    .bg .bg-img-2 {
        max-width: 120% !important;
    }

    .video-play {
        font-size: 10px ;
    }

    

}

@media (max-width: 900px) {
    .bg {
        max-width: 100%;
        text-align: center;
    }

    .bg .img-fluid {
        max-width: 90%;
        padding-top: 20px;
    }

    .bg .bg-img-2 {
        max-width: 100%;
    }

  


}
/************************ bg ************************/


/************************ price ************************/
.border-right {
    border-right: 1px solid #000000;
}

.border-left {
    border-left: 1px solid #000000;
}

.border {
    border: 1px solid #000000;
    padding: 50px;
}
/************************ price ************************/

/******************************** persons area *****************************/

.persons {
    background-color: hsl(248.57deg 53.85% 97.45%)
}

.persons .content {
    padding-top: 30px;
    display: flex;
    gap: 30px;
}





.person-p {
    width: 615px;
}

@media (max-width: 576px) {
    :root {
        font-size: 8px;
    }

  


}

@media (max-width: 900px) {
    .persons .content {
        flex-direction: column;
    }

  

    .person-p {
        width: auto;
    }

   

    .persons .image {
        text-align: center;
        align-self: center;


    }

    .persons p {
        text-align: center;
    }

    .persons .img-fluid {
        max-width: 30%;

    }
}

/******************************** persons area *****************************/



/******************************** Start Brands  *****************************/

.clients {
    background-color: hsl(248.57deg 53.85% 97.45%);
    height: 150px;
}

.clients img {
    transition: transform 0.3s ease;
}

.clients img:hover {
    transform: scale(1.1);
    background-color: gold;

}

@media (max-width: 900px) {
    .clients {
        height: 220px;
    }

    .clients .img-fluid {
        padding: 1%;
    }
}

@media (max-width: 767px) {
    .clients {
        height: 350px;
    }

    .clients .img-fluid {
        padding: 1%;
    }
}

/******************************** End Brands  *****************************/

/*! *********************** End About **********************/


/*! *********************** Start Footer **********************/

/******************************** Start Footer *****************************/

.footer {
    margin-bottom: 50px;
}

.mail-a,
.phone-a {
    text-decoration: none;
    color: var(--text-purple-color);
}

.footer-mail {
    height: 51px;
    width: 200px;
}

.footer-mail::placeholder {
    text-indent: 10px;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    width: 70%;
    color: var(--text-grey-color);
}

.social-icons i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: hsl(248.57deg 53.85% 97.45%);
}


.social-icons {
    display: flex;
}

.social-icons i {
    margin-right: 10px;
    color: #000;
    transition: color 0.3s;
}

.social-icons i.fa-facebook-f:hover,
.social-icons i.fa-twitter:hover,
.social-icons i.fa-google:hover,
.social-icons i.fa-linkedin-in:hover {
    color: var(--text-purple-color);
}




.privacy-contact {
    float: right;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.privacy:hover,
.contact:hover {
    color: gold;

}

@media (max-width: 900px) {
    .footer {
        text-align: center;
    }

    .social-icons {
        place-content: center;
    }

    .privacy-contact {
        width: 100%;
        justify-content: space-around;
    }
}


@media (max-width: 576px) {
    .footer {
        text-align: center;
    }

    .social-icons {
        place-content: center;
    }

    .privacy-contact {
        width: 100%;
        justify-content: space-around;
    }
    .footer-mail {
        height: 23px;
        width: 94px;
    }
}



/******************************** End Footer *****************************/


/*! *********************** End Footer **********************/