@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Oswald:wght@500&display=swap');



* {
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;

}

:root {
    --text-grey-color: hsl(244deg 15.31% 61.57%);
    --text-purple-color: hsl(248.41deg 93.18% 65.49%);
    --text-color: hsl(248deg 14.85% 19.8%);
    --line-color: hsl(246.67deg 39.13% 95.49%)
}



/*! *********************** Start library **********************/
/************************* colors *********************/
.text-grey-color {
    color: hsl(244deg 15.31% 61.57%);
}

.text-purple-color {
    color: hsl(248.41deg 93.18% 65.49%);
}

.text-color {
    color: hsl(248deg 14.85% 19.8%);
}





/************************* colors *********************/

/*! *********************** End library **********************/



/*! *********************** Nav **********************/
nav {
    box-shadow: 2px 9px 4px hsl(255deg 16.67% 95.29%);

}

.nav-span {
    display: inline-block;
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
    width: 115px;
    border-color: var(--text-grey-color);
    border-radius: 1em;
}

.nav-span:hover {
    color: white;
    background-color: var(--text-purple-color);

}

/*! *********************** Nav **********************/

/*! *********************** Contact **********************/

.info .container {
    background-color: hsl(248.57deg 53.85% 97.45%);
    border-radius: 30px;
    height: 300px;

}

.info a {
    text-decoration: none;
}

@media (max-width: 576px) {
    .info .container {
        background-color: hsl(248.57deg 53.85% 97.45%);
        border-radius: 30px;
        height: 85px;
        max-width: 50%;
    }

    :root {
        font-size: 8px;
    }

}

@media (max-width: 900px) {
    .info .container {
        background-color: hsl(248.57deg 53.85% 97.45%);
        border-radius: 30px;
        height: 125px;
        max-width: 50%;
    }
}


/*! *********************** Contact **********************/

/*! <!--------------------- Start contact ---------------------> */
.form i {
    border: 2px solid #333;
    border-radius: 50%;
    padding: 8px;
    margin-bottom: 4px;
    border-color: hsl(0deg 11.25% 91.13%);
}

.contact-left {
    align-self: center;
}


@media (max-width: 576px) {
    form {
        text-align-last: center;
        text-align: -webkit-center;


    }

    .form .row {
        text-align: center;
    }

    .form-control {
        max-width: 50%;
    }
}

@media (max-width: 900px) {
    form {
        text-align-last: center;
        text-align: -webkit-center;

    }

    .form .row {
        text-align: center;
        place-content: center
    }

    .form-control {
        max-width: 50%;
    }
}


/*! <!--------------------- End contact ---------------------> */



/*! *********************** Start Footer **********************/

/******************************** Start Footer *****************************/

.footer {
    margin-bottom: 50px;
}

.mail-a,
.phone-a {
    text-decoration: none;
    color: var(--text-purple-color);
}

.footer-mail {
    height: 51px;
    width: 200px;
}

.footer-mail::placeholder {
    text-indent: 10px;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    width: 70%;
    color: var(--text-grey-color);
}

.social-icons i {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: hsl(248.57deg 53.85% 97.45%);
}


.social-icons {
    display: flex;
}

.social-icons i {
    margin-right: 10px;
    color: #000;
    transition: color 0.3s;
}

.social-icons i.fa-facebook-f:hover,
.social-icons i.fa-twitter:hover,
.social-icons i.fa-google:hover,
.social-icons i.fa-linkedin-in:hover {
    color: var(--text-purple-color);
}




.privacy-contact {
    float: right;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}



.privacy:hover,
.contact:hover {
    color: gold;

}

@media (max-width: 900px) {
    .footer {
        text-align: center;
    }

    .social-icons {
        place-content: center;
    }

    .privacy-contact {
        width: 100%;
        justify-content: space-around;
    }
}


@media (max-width: 576px) {
    .footer {
        text-align: center;
    }

    .social-icons {
        place-content: center;
    }

    .privacy-contact {
        width: 100%;
        justify-content: space-around;
    }
    .footer-mail {
        height: 23px;
        width: 94px;
    }
}



/******************************** End Footer *****************************/


/*! *********************** End Footer **********************/